@import './vars.scss';
@import './arco.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
	border-radius: 50%;
}

.image-src {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 230px;
	border-radius: 50%;
	will-change: filter;
	transition: all 1s;
}

.image-src:hover {
	filter: drop-shadow(0 0 2em #6a667f);
}

.VPFeature {
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.75) !important;
	border: 1px solid rgba(209, 213, 219, 0.3) !important;
}

.dark .VPFeature {
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(47, 47, 47, 0.75) !important;
	border: 1px solid rgba(255, 255, 255, 0.125) !important;
}

.vp-doc div[class*='language-'] {
	// margin: unset;
	border-radius: 4px;
	margin-top: 16px;
}

.vp-doc div[class*='language-']+div[class*='language-'],
.vp-doc div[class$='-api']+div[class*='language-'],
.vp-doc div[class*='language-']+div[class$='-api']>div[class*='language-'] {
	margin: unset;
	margin-top: 8px;
	margin-bottom: 8px;
}

img,
video {
	border-radius: 4px;
	margin: 16px 0;
}

.medium-zoom-overlay {
	z-index: 20;
}

.medium-zoom-image {
	z-index: 21;
}

.vp-doc li {
	line-height: 28px;

	&+li {
		margin-top: unset;
	}
}

.vp-doc li>ol,
.vp-doc li>ul {
	margin: 0;
}

.vp-doc ul,
.vp-doc ol {
	margin: 0;
}

.vp-code-group {
	margin: 8px 0;
}

.vp-code-group .tabs {
	margin: unset;
	border-radius: 4px 4px 0 0;
}

.vp-code-group .tabs label {
	font-size: 12px;
	line-height: 3;
}

.vp-code-group div[class*='language-'].active {
	margin: unset;
}

.vp-doc div[class*=language-] {
	margin: unset;
	margin-top: 8px;
	margin-bottom: 8px;
}

@media (min-width: 640px) {
	.vp-code-group .tabs {
		border-radius: 4px 4px 0 0;
	}
}

.vp-doc p,
.vp-doc summary {
	margin: 0;
}

.vp-doc h2 {
	margin: 16px 0;
	padding: 0;
	border-top: none;
}

.vp-doc h1 {
	margin: 0;
}

.vp-doc a {
	font-weight: normal;
}

.vp-doc h3 {
	margin: 16px 0 8px 0;
}

.vp-doc h4{
	margin: 8px 0;
}